
# Сгенерированные Go файлы
*.pb.go
*.pb.gw.go

# Сгенерированные Java файлы
*.java

# Сгенерированные JS/TS файлы
*.js
*.d.ts
*.ts

# Сгенерированные C++ файлы
*.pb.cc
*.pb.h

# Временные файлы IDE
*.swp
*.swo
*.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
*.log
*.tmp
